<header class="page-header to-left-header">
  {{this.month}}
</header>
<section class="page-body">
  
  {{#if this.showBottomSheet}}
    <BottomSheet @close={{this.toggleBottomSheet}}>
      <h1>Actions</h1>
      <ul class="activity-options">         
        {{#each this.selectedActivities as |activity|}}
          <li>
            {{#if activity.measureOrRoutineId}}
              {{#link-to concat activity.url activity.measureOrRoutineId}}
                <span class="icon-border"><FaIcon @icon={{activity.icon}} title={{activity.iconTitle}}/></span>
                <span>{{activity.label}}</span>
              {{/link-to}}
            {{else}}
              {{#link-to activity.url}}
                <span class="icon-border"><FaIcon @icon={{activity.icon}} title={{activity.iconTitle}}/></span>
                <span>{{activity.label}}</span>
              {{/link-to}}
            {{/if}}            
          </li>
        {{/each}}
      </ul>
    </BottomSheet>
  {{/if}}
  <CalendarGrid 
    @date={{this.date}} 
    @events={{this.model}}
    @selectDay={{this.selectDay}}/>
</section>