<form class="w-full px-2">
  <div class="mt-4 text-sm text-gray-800">Select training</div>
  <div class="w-full relative">
    <select class="w-full appearance-none bg-white border border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight
                  focus:outline-none focus:border-yellow-500 focus:shadow-outline">
      {{#each routines as |routine|}}
        <option>{{routine.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="mt-4 text-sm text-gray-800">Repeat</div>
  <div class="my-2 text-sm text-gray-800">
    <div class="mt-4">
      <label class="inline-flex items-center">
        <input
          type="radio"
          class="form-radio"
          name="radio"
          value={{false}}
          checked={{if (not this.training.isRepeatable) "checked" ""}}
          {{on "change" (fn this.setIsRepeatable false)}}
        >
        <span class="ml-2">Only on:&nbsp;</span> <span class="font-semibold">{{format-date @date}}</span>
      </label>
    </div>
    <div class="mt-4">
      <label class="inline-flex items-center">
        <input
          type="radio"
          class="form-radio"
          name="radio"
          value={{true}}
          checked={{if this.training.isRepeatable "checked" ""}}
          {{on "change" (fn this.setIsRepeatable true)}}
        >
        <span class="ml-2">Each...</span>
      </label>
    </div>
  </div>
  {{#if this.training.isRepeatable}}

    <div class="mt-4 text-sm text-gray-800">Week</div>
    <div class="my-2 flex justify-around">
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="M" @flags={{this.training.repeatOnDays}} @index={{this.days.Monday}} @onChange={{this.setRepeatOnDays}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="T" @flags={{this.training.repeatOnDays}} @index={{this.days.Tuesday}} @onChange={{this.setRepeatOnDays}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="W" @flags={{this.training.repeatOnDays}} @index={{this.days.Wednesday}} @onChange={{this.setRepeatOnDays}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="T" @flags={{this.training.repeatOnDays}} @index={{this.days.Thursday}} @onChange={{this.setRepeatOnDays}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="F" @flags={{this.training.repeatOnDays}} @index={{this.days.Friday}} @onChange={{this.setRepeatOnDays}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="S" @flags={{this.training.repeatOnDays}} @index={{this.days.Saturday}} @onChange={{this.setRepeatOnDays}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="S" @flags={{this.training.repeatOnDays}} @index={{this.days.Sunday}} @onChange={{this.setRepeatOnDays}} />
    </div>

    <div class="mt-4 text-sm text-gray-800">Month</div>
    <div class="my-2 flex justify-around">
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 1" @flags={{this.training.repeatOnWeeks}} @index={{this.weeks.Week1}} @onChange={{this.setRepeatOnWeeks}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 2" @flags={{this.training.repeatOnWeeks}} @index={{this.weeks.Week2}} @onChange={{this.setRepeatOnWeeks}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 3" @flags={{this.training.repeatOnWeeks}} @index={{this.weeks.Week3}} @onChange={{this.setRepeatOnWeeks}} />
      <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 4" @flags={{this.training.repeatOnWeeks}} @index={{this.weeks.Week4}} @onChange={{this.setRepeatOnWeeks}} />
    </div>

    <div class="mt-4">
      <label class="block text-gray-800 mb-1 pr-2" for="until">
        Until
      </label>
      <input class="w-full appearance-none py-2 px-4 border border-gray-500
                    text-gray-700 leading-tight bg-white
                    focus:border-yellow-500"
              id="until"
              type="date"
              value={{format-date-input this.training.lastUntil}}
              min={{format-date-input @date}}
              {{on "input" this.onInput}}>
    </div>
  {{/if}}

  <div class="mt-6 mb-2 flex">
    <button class="w-full shadow py-2 px-4 bg-yellow-800 font-semibold text-white mr-2
                  hover:bg-yellow-700 focus:shadow-outline focus:outline-none"
            type="button"
            {{on "click" @onClose}}>
    Cancel
    </button>
    <button class="w-full shadow py-2 px-4 bg-yellow-500 font-semibold text-white
                  hover:bg-yellow-400 focus:shadow-outline focus:outline-none"
            type="button"
            {{on "click" this.save}}>
    Save
    </button>
  </div>

</form>