<form class="w-full px-2">
  <div class="mt-4 text-sm text-gray-800">Select training</div>
  <div class="relative w-full">
    <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
      {{#each routines as |routine|}}
        <option>{{routine.name}}</option>
      {{/each}}
    </select>
    {{!-- <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div> --}}
  </div>

  <div class="mt-4 text-sm text-gray-800">Repeat</div>
  <div class="my-2 text-sm text-gray-800">
    <div>
      <label class="inline-flex items-center">
        <input
          type="radio"
          class="form-radio"
          name="radio"
          value={{false}}
          checked={{if (not this.isRepeatable) "checked" ""}}
          {{on "change" (fn this.setIsRepeatable false)}}
        >
        <span class="ml-2">Only on:</span> <span class="font-semibold">{{format-date @date}}</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input
          type="radio"
          class="form-radio"
          name="radio"
          value={{true}}
          checked={{if this.isRepeatable "checked" ""}}
          {{on "change" (fn this.setIsRepeatable true)}}
        >
        <span class="ml-2">Each...</span>
      </label>
    </div>
  </div>

  <div class="mt-4 text-sm text-gray-800">Week</div>
  <div class="my-2 flex justify-around">
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="M" @flags={{this.repeatOnDay}} @index={{this.days.Monday}} @onChange={{this.setRepeatOnDay}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="T" @flags={{this.repeatOnDay}} @index={{this.days.Tuesday}} @onChange={{this.setRepeatOnDay}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="W" @flags={{this.repeatOnDay}} @index={{this.days.Wednesday}} @onChange={{this.setRepeatOnDay}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="T" @flags={{this.repeatOnDay}} @index={{this.days.Thursday}} @onChange={{this.setRepeatOnDay}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="F" @flags={{this.repeatOnDay}} @index={{this.days.Friday}} @onChange={{this.setRepeatOnDay}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="S" @flags={{this.repeatOnDay}} @index={{this.days.Saturday}} @onChange={{this.setRepeatOnDay}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{false}} @label="S" @flags={{this.repeatOnDay}} @index={{this.days.Sunday}} @onChange={{this.setRepeatOnDay}} />
  </div>

  <div class="mt-4 text-sm text-gray-800">Month</div>
  <div class="my-2 flex justify-around">
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 1" @flags={{this.repeatOnMonth}} @index={{this.weeks.Week1}} @onChange={{this.setRepeatOnMonth}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 2" @flags={{this.repeatOnMonth}} @index={{this.weeks.Week2}} @onChange={{this.setRepeatOnMonth}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 3" @flags={{this.repeatOnMonth}} @index={{this.weeks.Week3}} @onChange={{this.setRepeatOnMonth}} />
    <BottomSheet::TrainingForm::PeriodSelector @isPill={{true}} @label="Week 4" @flags={{this.repeatOnMonth}} @index={{this.weeks.Week4}} @onChange={{this.setRepeatOnMonth}} />
  </div>

  <div class="mt-6 mb-2 flex">
    <button class="w-full shadow py-2 px-4 bg-yellow-800 font-semibold text-white mr-2
                  hover:bg-yellow-700 focus:shadow-outline focus:outline-none"
            type="button"
            {{on "click" @onClose}}>
    Cancel
    </button>
    <button class="w-full shadow py-2 px-4 bg-yellow-500 font-semibold text-white
                  hover:bg-yellow-400 focus:shadow-outline focus:outline-none"
            type="button">
    Save
    </button>
  </div>

</form>