{{#if @isPill}}
<div
  class="rounded-full py-1 px-4 {{if this.isSelected "bg-yellow-500" "bg-gray-300"}}"
  {{on "click" this.changeFlag}}
>
  {{@label}}
</div>
{{else}}
  <div
    class="rounded-full h-8 w-8 {{if this.isSelected "bg-yellow-500" "bg-gray-300"}} flex items-center justify-center"
    {{on "click" this.changeFlag}}
  >
    {{@label}}
  </div>
{{/if}}