<header class="page-header to-left-header">
  Statistics
</header>
<section class="page-body">
  <div class="tab">
    <button 
      class="tab-button {{if (eq this.period this.periodEnum.week) "tab-active"}}" 
      {{on "click" (fn this.selectPeriod this.periodEnum.week)}}
    >
      Week
    </button>
    <button 
      class="tab-button {{if (eq this.period this.periodEnum.month) "tab-active"}}" 
      {{on "click" (fn this.selectPeriod this.periodEnum.month)}}
    >
      Month
    </button>
    <button 
      class="tab-button {{if (eq this.period this.periodEnum.year) "tab-active"}}" 
      {{on "click" (fn this.selectPeriod this.periodEnum.year)}}
    >
      Year
    </button>
  </div>
  <Bmi @measures={{this.userMeasures}} />
  <MeasuresChart 
    @title="Weight"
    @chartId="weight-chart"
    @data={{this.weight}} 
    @axisX={{this.axisX}} 
  />
  <MeasuresChart 
    @title="Fat"
    @chartId="fat-chart"
    @data={{this.fat}} 
    @axisX={{this.axisX}} 
  />
  <MeasuresChart 
    @title="Water"
    @chartId="water-chart"
    @data={{this.water}} 
    @axisX={{this.axisX}} 
  />
  <MeasuresChart 
    @title="Muscle"
    @chartId="muscle-chart"
    @data={{this.muscle}} 
    @axisX={{this.axisX}} 
  />
  <MeasuresChart 
    @title="Bone Density"
    @chartId="bone-chart"
    @data={{this.boneDensity}} 
    @axisX={{this.axisX}} 
  />
</section>