<div class="h-full" {{did-insert (perform this.loadSettings)}}>
  <header class="py-2 text-center border-b-2 border-pink-400">
    <span class="font-sans text-lg font-semibold text-gray-800">Settings</span>
  </header>
  <section class="flex flex-col items-center px-4 overflow-y-auto page-height">
    <span class="block my-2">{{svg-jar "account_circle-24px" class="text-pink-600 fill-current" width="64px" height="64px"}}</span>
    <p class="mt-2 text-lg text-justify">
      Introduce your height (in meters) to calculate your Body Max Index (BMI). This value works as a rough estimation of your current condition, dividing it into three categories: underweight, normal weight and overweight. The BMI value will be displayed in
      <LinkTo class="text-pink-600" aria-label="Statistics page" @route="statistics">statistics page</LinkTo>.
    </p>

    {{#if (and (not this.loadSettings.isRunning) this.user)}}
      <div class="flex flex-col justify-center w-full mt-4">
        <label class="mb-1 text-sm text-gray-800" for="height">Height</label>
        <input class="w-full h-10 px-2 text-right text-gray-700 border border-gray-500 appearance-none focus:border-pink-600"
              id="height"
              type="tel"
              pattern="[0|1]{1}[,|.]\d{1,2}"
              placeholder={{0.00}}
              value={{this.user.height}}
              {{on "input" (perform this.saveSettings)}}>
        {{#if this.invalidHeight}}
          <p class="text-xs italic text-red-500">Invalid Height value. It must follow 0.00 format</p>
        {{/if}}
      </div>
    {{/if}}

    <span class="block mt-5">{{svg-jar "folder-24px" class="text-pink-600 fill-current" width="64px" height="64px"}}</span>
    <p class="mt-2 text-lg text-justify">Optionally, you can download the data you have stored as a backup and restore it later in the same device or a different one.</p>
    <div class="flex flex-row w-full mt-6">
      <button class="flex justify-center w-full px-4 py-2 mr-2 font-semibold text-white bg-pink-400 shadow hover:bg-pink-400 focus:shadow-outline focus:outline-none"
              type="button"
              {{on "click" this.upload}}>
        <span>{{svg-jar "cloud_upload-24px" class="fill-current" width="24px" height="24px"}}</span>&nbsp;Upload
      </button>
      <button class="flex justify-center w-full px-4 py-2 font-semibold text-white bg-pink-600 shadow hover:bg-pink-600 focus:shadow-outline focus:outline-none"
              type="button"
              {{on "click" this.download}}>
        <span>{{svg-jar "cloud_download-24px" class="fill-current" width="24px" height="24px"}}</span>&nbsp;Download
      </button>
    </div>
  </section>
</div>