<div class="h-full">
  <header class="relative z-10 w-full py-2 text-center bg-white border-b-2 border-yellow-400">
    <span class="font-sans text-lg font-semibold text-gray-800">{{this.month}}</span>
  </header>
  <section class="relative">
    <CalendarGrid
      @date={{this.date}}
      @events={{@model.events}}
      @increaseMonth={{this.incMonth}}
      @decreaseMonth={{this.decMonth}}
      @selectDay={{this.selectDay}}
    />
    {{#if this.showBottomSheet}}
      <div class="absolute inset-0 z-10 flex flex-col page-height" >
        <BottomSheet
          @events={{@model.events}}
          @date={{this.selectedDate}}
          @onClose={{this.toggleBottomSheet}}
          @onSaveMeasure={{this.saveMeasure}}
          @onSaveTraining={{this.saveTraining}}
        />
      </div>
    {{/if}}
  </section>
</div>