<div class="flex items-center mb-2">
  <label class="block pr-2 mb-1 text-gray-800" for={{@id}}>
    <span>
      {{@icon}}
    </span>
  </label>
  <input
    class="w-full px-4 py-2 leading-tight text-gray-700 border border-gray-500 appearance-none focus:outline-none focus:border-yellow-500"
    id={{@id}}
    type="number"
    step={{0.1}}
    pattern="[0-9]+([\.,][0-9]+)?"
    placeholder={{0.0}}
    value={{@value}}
    {{on "input" @onInput}}
  />
</div>