<div class="absolute w-full h-full bg-gray-800 opacity-75" role="button" {{on "click" @onClose}}></div>

<div class="absolute bottom-0 w-full p-2 bg-white rounded-t-lg">
  {{#if this.isMenuState}}
    <BottomSheet::Menu
      @setMeasuresState={{this.setMeasuresState}}
      @setTrainingState={{this.setTrainingState}}
    />

  {{else if this.isMeasureState}}
    <h1 class="w-full mb-4 font-semibold text-yellow-500 border-b-2 border-yellow-500">Measures</h1>
    <BottomSheet::MeasureForm
      @date={{@date}}
      @model={{this.measure}}
      @onClose={{@onClose}}
      @onSave={{@onSaveMeasure}}
    />
  {{else if this.isTrainingState}}
    <h1 class="w-full mb-4 font-semibold text-yellow-500 border-b-2 border-yellow-500">Training</h1>
    <BottomSheet::TrainingForm
      @date={{@date}}
      @model={{this.training}}
      @onClose={{@onClose}}
      @onSave={{@onSaveTraining}}
    />
  {{/if}}
</div>