<div class="h-full w-full opacity-75 bg-gray-800 absolute" role="button" {{on "click" @onClose}}></div>

<div class="p-2 bg-white rounded-t-lg absolute bottom-0 w-full">
  {{#if this.isMenuState}}
    <BottomSheet::Menu
      @setMeasuresState={{this.setMeasuresState}}
      @setTrainingState={{this.setTrainingState}}
    />

  {{else if this.isMeasureState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Measures</h1>
    <BottomSheet::MeasureForm
      @date={{@date}}
      @model={{this.measure}}
      @onClose={{@onClose}}
      @onSave={{@onSaveMeasure}}
    />
  {{else if this.isTrainingState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Training</h1>
    <BottomSheet::TrainingForm
      @date={{@date}}
      @model={{this.training}}
      @onClose={{@onClose}}
      @onSave={{@onSaveTraining}}
    />
  {{/if}}
</div>