<div class="h-full w-full opacity-75 bg-gray-800" {{on "click" @onClose}}></div>

<div class="p-2 bg-white rounded-lg relative">
  {{#if this.isMenuState}}
    <BottomSheet::Menu
      @setMeasuresState={{this.setMeasuresState}}
      @setTrainingState={{this.setTrainingState}}
    />

  {{else if this.isMeasureState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Measures</h1>
    <BottomSheet::MeasureForm
      @event={{@event}}
      @onClose={{@onClose}}
      @onSave={{this.saveMeasures}}
    />
  {{else if this.isTrainingState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Training</h1>
    <BottomSheet::TrainingForm
      @onClose={{@onClose}}
    />
  {{/if}}
</div>