<div class="h-full w-full opacity-75 bg-gray-800" {{on "click" @onClose}}></div>

<div class="p-2 bg-white rounded-lg relative">
  {{#if this.isMenuState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Actions</h1>
    <ul>
      <li>
        <button class="w-full flex shadow py-2 px-4 mt-2 bg-yellow-500 font-semibold text-white
                      hover:bg-yellow-400 focus:shadow-outline focus:outline-none"
                type="button"
                {{on "click" this.setMeasuresState}}>
          <span>{{svg-jar "square_foot-24px" class="fill-current" width="24px"}}</span>
          Measures
        </button>
      </li>
      <li>
        <button class="w-full flex shadow py-2 px-4 mt-2 bg-yellow-500 font-semibold text-white
                      hover:bg-yellow-400 focus:shadow-outline focus:outline-none"
                type="button"
                {{on "click" this.setTrainingState}}>
          <span>{{svg-jar "directions_run-24px" class="fill-current" width="24px"}}</span>
          Training
        </button>
      </li>
    </ul>

  {{else if this.isMeasureState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Measures</h1>
    <BottomSheet::MeasureForm
      @event={{@event}}
      @onClose={{@onClose}}
      @onSave={{this.saveMeasures}}
    />
  {{else if this.isTrainingState}}
    <h1 class="w-full border-b-2 border-yellow-500 mb-4 text-yellow-500 font-semibold">Training</h1>

  {{/if}}
</div>