<div class="flex justify-around bg-blue-300">
  <button
    class="w-1/3 py-2 uppercase font-semibold {{if (eq @period "week") "text-blue-700 border-b-4 border-blue-700" "text-white"}}"
    {{on "click" (fn @selectPeriod "week")}}
  >
    Week
  </button>
  <button
    class="w-1/3 py-2 uppercase font-semibold {{if (eq @period "month") "text-blue-700 border-b-4 border-blue-700" "text-white"}}"
    {{on "click" (fn @selectPeriod "month")}}
  >
    Month
  </button>
  <button
    class="w-1/3 py-2 uppercase font-semibold {{if (eq @period "year") "text-blue-700 border-b-4 border-blue-700" "text-white"}}"
    {{on "click" (fn @selectPeriod "year")}}
  >
    Year
  </button>
</div>