<div class="flex flex-row justify-around text-lg text-blue-700 py-2 mt-2">
  <span {{on "click" @previous}} role="button">{{svg-jar "navigate_before-24px" class="fill-current" width="36px" height="36px"}}</span>
  <span class="font-semibold leading-loose">{{@label}}</span>
  <span {{on "click" @next}} role="button">{{svg-jar "navigate_next-24px" class="fill-current" width="36px" height="36px"}}</span>
</div>