<h1
  class="w-full mb-4 font-semibold text-yellow-500 border-b-2 border-yellow-500"
>
  {{@title}}
</h1>
<ul>
  <li>
    <button
      class="flex w-full px-4 py-2 mt-2 font-semibold text-white bg-yellow-500 shadow hover:bg-yellow-400 focus:shadow-outline focus:outline-none"
      type="button"
      {{on "click" @setMeasuresState}}
    >
      <span>
        {{svg-jar "square_foot-24px" class="fill-current" width="24px"}}
      </span>
      Measures
    </button>
  </li>
  <li>
    <button
      class="flex w-full px-4 py-2 mt-2 font-semibold text-white bg-yellow-500 shadow hover:bg-yellow-400 focus:shadow-outline focus:outline-none"
      type="button"
      {{on "click" @setTrainingState}}
    >
      <span>
        {{svg-jar "directions_run-24px" class="fill-current" width="24px"}}
      </span>
      Training
    </button>
  </li>
</ul>